:root {
  --coral-red: #f93943;
  --viking-blue: #7eb2dd;
  --bold-orange: #ff6f00;
  --electric-blue: #7df9ff;
  --lime-green: #32cd32;
  --royal-purple: #7851a9;
  --sunset-yellow: #ffd700;
  --hot-pink: #ff69b4;
  --turquoise: #40e0d0;
  --midnight-blue: #191970;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: var(--royal-purple);
}
.header {
  width: 100%;
  background-color: var(--viking-blue);
  display: flex;
  justify-content: space-around;
  align-items: first baseline;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}
h1 {
  color: rgb(99, 0, 191);
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;
}
.search {
  position: relative;
}
#search,
.username,
.password {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  /* font-size: 1.3rem; */
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 3px;
  width: 18rem;
  /* font-style: italic; */
}

.fa-search {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.482);
}
.fa-search:hover {
  color: black;
}
.btn {
  border: none;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
}
.user {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  /* background-color: #5604f9cc; */
}
.login,
.signup,
.admin {
  display: flex;
  background-color: #5604f994;
  padding: 0.5rem;
  color: #0000008b;
  font-weight: 500;
  border-radius: 10px;
  font-size: 1.3rem;
  gap: 0.5rem;
}
.login:hover,
.signup:hover,
.admin:hover {
  background-color: #5604f9;
  padding: 0.5rem;
  border-radius: 10px;
  color: black;
}
.name,
.pass {
  position: relative;
  width: max-content;
}
.btn-user,
.btn-password {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0.7rem;
  color: rgba(0, 0, 0, 0.572);
}
.content-popup {
  width: 400px;
  background-color: #0b487a4f;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
#welcome {
  font-size: 2rem;
  font-weight: 100;
  color: #073b00cc;
}
#submit {
  width: 50%;
  text-align: center;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 10px;
  color: #ffffff8b;
  background-color: #0000008b;
  border: none;
}
.username,
.password {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.error-password,
.error-username {
  color: #5a0000;
  /* font-weight: 900; */
  font-size: 1rem;
  display: none;
  /* text-align: center; */
}
.cross {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.531);
}
